body {
    background-color: #031400;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    margin-top: 70px;
    color: white;
    justify-content: center;
}

.content {
    color: white;
}

.admin-panel {
    margin-top: 20px;
    background-color: #040E00;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
}

.admin-panel h2 {
    text-align: center;
}

.search-input {
    padding: 10px;
    background-color: #303D2B;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    color: white;
    margin: 0 10px;
}

.search-btn {
    background-color: #303D2B;
    float: right;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 0 10px;
}

.user-update-section {
    padding: 10px;
}

.role-select {
    padding: 5px;
    background-color: #303D2B;
    border: none;
    border-radius: 5px;
    color: white;
}

.update-role-btn {
    background-color: #303D2B;
    float: right;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 0 10px;
    padding: 5px;
}

.delete-user-btn {
    background-color: #303D2B;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin-top: 10px;
}

.user-update-section p span {
    font-weight: bold;
}