.topbar {
    height: 70px;
    background-color: #040E00;
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 10px;
    padding-right: 20px;
}

.search-box {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-box input {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.logout-btn {
    background-color: #303D2B;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
}


.topbar-icons {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar-icons a span {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    height: 100%;
    margin: 5px;
}

.topbar-icons-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topbar-icons-right button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.topbar-icons-right a, .topbar-icons a {
    text-decoration: none;
}